extends layout

block content
  .header
    .socialMedia
      .headerName
        p Wilson Rondini <br />
        p WilBeCoding@gmail.com
      .socialMediaIcons
        img(class="github" src='../images/github.svg')
        img(class="linkedIn" src='../images/linkedin.svg')
        img(class='twitterSocial' src='../images/twitter.svg')
        img(class='instagram' src='../images/instagram.svg')
        img(class='youtube' src='../images/youtube.svg')
        img(class='spotifySocial' src='../images/spotifySocial.svg')
    img#logo.circleImage(src='../images/daPhuck.jpg', alt='')
    .spotify
    .testUnderImg
      h1 Wilson Rondini
    .testUnderImg1
      ul
        li Insert sentence
        li wilbecoding@gmail.com
  .midPage
    .row
      .aboutMe
        h2 About Me
        p Hodor hodor - hodor; hodor hodor; hodor hodor? Hodor! Hodor hodor, hodor... Hodor hodor hodor, hodor. Hodor hodor... Hodor hodor hodor hodor hodor hodor! Hodor, hodor. Hodor. Hodor, HODOR hodor, hodor hodor? Hodor. Hodor hodor hodor. Hodor, hodor. Hodor. Hodor, hodor; hodor hodor... Hodor hodor hodor - hodor. Hodor. Hodor hodor - hodor; hodor hodor; hodor hodor? Hodor! Hodor hodor, hodor... Hodor hodor hodor, hodor. Hodor hodor... Hodor hodor hodor hodor hodor hodor! Hodor, hodor. Hodor. Hodor, HODOR hodor, hodor hodor? Hodor. Hodor hodor hodor. Hodor, hodor. Hodor. Hodor, hodor; hodor hodor... Hodor hodor hodor - hodor. Hodor. Hodor hodor - hodor; hodor hodor; hodor hodor? Hodor! Hodor hodor, hodor...
      .aboutMeImage
        img(src='https://images.unsplash.com/photo-1458165911904-f65d2290d812?crop=entropy&fit=crop&fm=jpg&h=800&ixjsv=2.1.0&ixlib=rb-0.3.5&q=80&w=1450')
    .row
      .musicImg
        <iframe src="https://embed.spotify.com/?uri=spotify:album:5VtiW4DabvLmY9vJH80GXd" width="300" height="525" frameborder="0" allowtransparency="true"></iframe>
      .music
        h2 My Music
        p Hodor hodor - hodor; hodor hodor; hodor hodor? Hodor! Hodor hodor, hodor... Hodor hodor hodor, hodor. Hodor hodor... Hodor hodor hodor hodor hodor hodor! Hodor, hodor. Hodor. Hodor, HODOR hodor, hodor hodor? Hodor. Hodor hodor hodor. Hodor, hodor. Hodor. Hodor, hodor; hodor hodor... Hodor hodor hodor - hodor. Hodor. Hodor hodor - hodor; hodor hodor; hodor hodor? Hodor! Hodor hodor, hodor... Hodor hodor hodor, hodor. Hodor hodor... Hodor hodor hodor hodor hodor hodor! Hodor, hodor. Hodor. Hodor, HODOR hodor, hodor hodor? Hodor. Hodor hodor hodor. Hodor, hodor. Hodor. Hodor, hodor; hodor hodor... Hodor hodor hodor - hodor. Hodor. Hodor hodor - hodor; hodor hodor; hodor hodor? Hodor! Hodor hodor, hodor...
    .row
      .trading
        h2 Trading
        p Hodor hodor - hodor; hodor hodor; hodor hodor? Hodor! Hodor hodor, hodor... Hodor hodor hodor, hodor. Hodor hodor... Hodor hodor hodor hodor hodor hodor! Hodor, hodor. Hodor. Hodor, HODOR hodor, hodor hodor? Hodor. Hodor hodor hodor. Hodor, hodor. Hodor. Hodor, hodor; hodor hodor... Hodor hodor hodor - hodor. Hodor. Hodor hodor - hodor; hodor hodor; hodor hodor? Hodor! Hodor hodor, hodor... Hodor hodor hodor, hodor. Hodor hodor... Hodor hodor hodor hodor hodor hodor! Hodor, hodor. Hodor. Hodor, HODOR hodor, hodor hodor? Hodor. Hodor hodor hodor. Hodor, hodor. Hodor. Hodor, hodor; hodor hodor... Hodor hodor hodor - hodor. Hodor. Hodor hodor - hodor; hodor hodor; hodor hodor? Hodor! Hodor hodor, hodor...
      .tradingImg
        img(src='https://i.ytimg.com/vi/TInfxe7c7yA/maxresdefault.jpg')
    .row
      .webDevelopmentImg
        img(src='https://images.unsplash.com/photo-1429051883746-afd9d56fbdaf?crop=entropy&fit=crop&fm=jpg&h=800&ixjsv=2.1.0&ixlib=rb-0.3.5&q=80&w=1450')
      .webDevelopment
        h2 Web Development
        p Hodor hodor - hodor; hodor hodor; hodor hodor? Hodor! Hodor hodor, hodor... Hodor hodor hodor, hodor. Hodor hodor... Hodor hodor hodor hodor hodor hodor! Hodor, hodor. Hodor. Hodor, HODOR hodor, hodor hodor? Hodor. Hodor hodor hodor. Hodor, hodor. Hodor. Hodor, hodor; hodor hodor... Hodor hodor hodor - hodor. Hodor. Hodor hodor - hodor; hodor hodor; hodor hodor? Hodor! Hodor hodor, hodor... Hodor hodor hodor, hodor. Hodor hodor... Hodor hodor hodor hodor hodor hodor! Hodor, hodor. Hodor. Hodor, HODOR hodor, hodor hodor? Hodor. Hodor hodor hodor. Hodor, hodor. Hodor. Hodor, hodor; hodor hodor... Hodor hodor hodor - hodor. Hodor. Hodor hodor - hodor; hodor hodor; hodor hodor? Hodor! Hodor hodor, hodor...
  .footer
    .socialMediaFooter
      .footerName
        p Wilson Rondini <br />
        p WilBeCoding@gmail.com
      .socialMediaIconsFooter
        img(class="github" src='../images/github.svg')
        img(class="linkedIn" src='../images/linkedin.svg')
        img(class='twitterSocial' src='../images/twitter.svg')
        img(class='instagram' src='../images/instagram.svg')
        img(class='youtube' src='../images/youtube.svg')
        img(class='spotifySocial' src='../images/spotifySocial.svg')
    img#logo.circleImageFooter(src='../images/daPhuck.jpg', alt='')
    .spotify