extends layout

block content
  .header
    img.circleImage(src='../images/daPhuck.jpg', alt='')
    .testUnderImg
      h1 Wilson Rondini
    .testUnderImg1
      ul
        li Insert sentence
        li wilbecoding@gmail.com
  .twitter
    h1 Twitter
  .midPage
    h2 Middle Of The Page
  .spotify
