extends layout

block content
  .header
    .socialMedia
      .headerName
        p Wilson Rondini <br />
        p WilBeCoding@gmail.com
      .socialMediaIcons
        a(id="socialMediaLink" target="_blank" href='https://github.com/WilBeCoding')
          img(src='../images/github.svg')
      //- <a class="twitter-timeline" href="https://twitter.com/WilBeCoding" data-widget-id="714215286048628736" data-width="288" data-height="10" data-chrome="noheader nofooter noborders transparent" data-tweet-limit="1"></a> 
      //- <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    img#logo.circleImage(src='../images/daPhuck.jpg', alt='')
    .spotify
       <iframe src="https://embed.spotify.com/?uri=spotify:album:5VtiW4DabvLmY9vJH80GXd" width="288" height="98" frameborder="0" allowtransparency="true"></iframe>
      .followBttn
         <iframe width="300" height="56" scrolling="no" frameborder="0" style="border:none; overflow:hidden;" allowtransparency="true" src="https://embed.spotify.com/follow/1/?uri=spotify:artist:2ciByYBF9snRskYOqoB5Qf&size=detail&theme=light&show-count=0"></iframe>
    .testUnderImg
      h1 Wilson Rondini
    .testUnderImg1
      ul
        li Insert sentence
        li wilbecoding@gmail.com
  //- .midPage
  //-   .secondaryHeader
  //-     h2 Middle Of The Page
