extends layout

block content
  .staticHeader
    .leftHeader
    .domeHeader
      img.circleImageHeader(src='../images/daPhuck.jpg', alt='')
    .spotify.hoverino
      .iframe-wrapper
        <iframe src="https://embed.spotify.com/?uri=spotify:album:5VtiW4DabvLmY9vJH80GXd" id="spotify" width="455" height="540" frameborder="0" allowtransparency="true" align="right" overflow="hidden"></iframe>
       .followBttn.hidden
          <iframe src="https://embed.spotify.com/follow/1/?uri=spotify:artist:2ciByYBF9snRskYOqoB5Qf&size=basic&theme=dark&show-count=0" width="200" height="25" scrolling="no" frameborder="0" allowtransparency="true"></iframe>
  .header
    img.circleImage(src='../images/daPhuck.jpg', alt='')
    .testUnderImg
      h1 Wilson Rondini
    .testUnderImg1
      ul
        li Insert sentence
        li wilbecoding@gmail.com
  .midPage
    .secondaryHeader
      h2 Middle Of The Page