extends layout

block content
  .header
    img.circleImage(src='../images/daPhuck.jpg', alt='')
    .testUnderImg
      h1 Wilson Rondini
    .testUnderImg1
      ul
        li Insert sentence
        li wilbecoding@gmail.com
  .twitter
    <a class="twitter-timeline" href="https://twitter.com/WilBeCoding" data-widget-id="714215286048628736">Tweets by @WilBeCoding</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
  .midPage
    h2 Middle Of The Page
  .spotify
    #results
     <iframe src="https://embed.spotify.com/?uri=spotify:album:5VtiW4DabvLmY9vJH80GXd" width="300" height="380" frameborder="0" allowtransparency="true"></iframe>
     <iframe width="300" height="56" scrolling="no" frameborder="0" style="border:none; overflow:hidden;" allowtransparency="true" src="https://embed.spotify.com/follow/1/?uri=spotify:artist:2ciByYBF9snRskYOqoB5Qf&size=detail&theme=light&show-count=0"></iframe>
