extends layout

block content
  .header
    .socialMedia
      .headerName
        p Wilson Rondini <br />
        p WilBeCoding@gmail.com
      .socialMediaIcons
        img(class="github" src='../images/github.svg')
        img(class="linkedIn" src='../images/linkedin.svg')
        img(class='twitterSocial' src='../images/twitter.svg')
        img(class='instagram' src='../images/instagram.svg')
        img(class='youtube' src='../images/youtube.svg')
        img(class='spotifySocial' src='../images/spotifySocial.svg')
    img#logo.circleImage(src='../images/daPhuck.jpg', alt='')
    .spotify
    .testUnderImg
      h1 Wilson Rondini
    .testUnderImg1
      ul
        li Insert sentence
        li wilbecoding@gmail.com
  .midPage
    .row
      .aboutMe
        p A Renaissance man that views every day as an opportunity for growth. Learning to play guitar was my first foray into self-instruction. I spent endless hours studying my favorite songs. Imitating my favorite artists until I developed a voice all my own. I then tackled the art of songwriting. Analyzing the lyrics and chord structure of Elliott Smith & Radiohead verse by verse. My next venture was trading futures on the Chicago Mercantile Exchange. Again, I accomplished my goals by imitating my role models. Blending their risk management styles into a system of my own. Like songwriting, trading is a personalized skill. One must develop a system that works for them! Now, my curiosity has led me to a career in web development with a hint of project management. I'm looking for new opportunities as a web developer and look forward to seeing what the future holds. 
      //- .codeSliders
      //-   .meter
      //-     p HTML
      //-     span(style='width: 25%')
      //-   .meter.orange.nostripes
      //-     p CSS
      //-     span(style='width: 33.3%')
      //-   .meter.red
      //-     p Javascript
      //-     span(style='width: 80%')
      //-   .meter.animate
      //-     p MongoDB
      //-     span(style='width: 50%')
      //-   .meter
      //-     p Node
      //-     span(style='width: 25%')
      //- .codeSliders
      //-   .meter
      //-     p Express
      //-     span(style='width: 25%')
      //-   .meter
      //-     p Angular
      //-     span(style='width: 25%')
      //-   .meter
      //-     p SQL
      //-     span(style='width: 25%')
      //-   .meter
      //-     p Java
      //-     span(style='width: 25%')
      .aboutMeImage
        h2 Development
        .aboutMeLists
          .list1
            ul
              li MongoDB
              li Express
              li Node
              li Angular
          .list2
            ul
              li HTML
              li CSS
              li Javascript
              li PostgreSQL
    .row
      .musicImg
        <iframe width="560" height="315" src="https://www.youtube.com/embed/AfRvpqdJKP4" frameborder="0" allowfullscreen></iframe>
        //- <iframe src="https://embed.spotify.com/?uri=spotify:album:5VtiW4DabvLmY9vJH80GXd" width="300" height="525" frameborder="0" allowtransparency="true"></iframe>
      .music
        h2 My Music
        p Hodor hodor - hodor; hodor hodor; hodor hodor? Hodor! Hodor hodor, hodor... Hodor hodor hodor, hodor. Hodor hodor... Hodor hodor hodor hodor hodor hodor! Hodor, hodor. Hodor. Hodor, HODOR hodor, hodor hodor? Hodor. Hodor hodor hodor. Hodor, hodor. Hodor. Hodor, hodor; hodor hodor... Hodor hodor hodor - hodor. Hodor. Hodor hodor - hodor; hodor hodor; hodor hodor? Hodor! Hodor hodor, hodor... Hodor hodor hodor, hodor. Hodor hodor... Hodor hodor hodor hodor hodor hodor! Hodor, hodor. Hodor. Hodor, HODOR hodor, hodor hodor? Hodor. Hodor hodor hodor. Hodor, hodor. Hodor. Hodor, hodor; hodor hodor... Hodor hodor hodor - hodor. Hodor. Hodor hodor - hodor; hodor hodor; hodor hodor? Hodor! Hodor hodor, hodor...
    .row
      .trading
        h2 Trading
        p Hodor hodor - hodor; hodor hodor; hodor hodor? Hodor! Hodor hodor, hodor... Hodor hodor hodor, hodor. Hodor hodor... Hodor hodor hodor hodor hodor hodor! Hodor, hodor. Hodor. Hodor, HODOR hodor, hodor hodor? Hodor. Hodor hodor hodor. Hodor, hodor. Hodor. Hodor, hodor; hodor hodor... Hodor hodor hodor - hodor. Hodor. Hodor hodor - hodor; hodor hodor; hodor hodor? Hodor! Hodor hodor, hodor... Hodor hodor hodor, hodor. Hodor hodor... Hodor hodor hodor hodor hodor hodor! Hodor, hodor. Hodor. Hodor, HODOR hodor, hodor hodor? Hodor. Hodor hodor hodor. Hodor, hodor. Hodor. Hodor, hodor; hodor hodor... Hodor hodor hodor - hodor. Hodor. Hodor hodor - hodor; hodor hodor; hodor hodor? Hodor! Hodor hodor, hodor...
      .tradingImg
        img(src='https://i.ytimg.com/vi/TInfxe7c7yA/maxresdefault.jpg')
    .row
      .webDevelopmentImg
        img(src='https://images.unsplash.com/photo-1429051883746-afd9d56fbdaf?crop=entropy&fit=crop&fm=jpg&h=800&ixjsv=2.1.0&ixlib=rb-0.3.5&q=80&w=1450')
      .webDevelopment.iphone6
        h2 Web Development
        p Hodor hodor - hodor; hodor hodor; hodor hodor? Hodor! Hodor hodor, hodor... Hodor hodor hodor, hodor. Hodor hodor... Hodor hodor hodor hodor hodor hodor! Hodor, hodor. Hodor. Hodor, HODOR hodor, hodor hodor? Hodor. Hodor hodor hodor. Hodor, hodor. Hodor. Hodor, hodor; hodor hodor... Hodor hodor hodor - hodor. Hodor. Hodor hodor - hodor; hodor hodor; hodor hodor? Hodor! Hodor hodor, hodor... Hodor hodor hodor, hodor. Hodor hodor... Hodor hodor hodor hodor hodor hodor! Hodor, hodor. Hodor. Hodor, HODOR hodor, hodor hodor? Hodor. Hodor hodor hodor. Hodor, hodor. Hodor. Hodor, hodor; hodor hodor... Hodor hodor hodor - hodor. Hodor. Hodor hodor - hodor; hodor hodor; hodor hodor? Hodor! Hodor hodor, hodor...
  .footer
    .socialMediaFooter
      .footerName
        p Wilson Rondini <br />
        p WilBeCoding@gmail.com
      .socialMediaIconsFooter
        img(class="github" src='../images/github.svg')
        img(class="linkedIn" src='../images/linkedin.svg')
        img(class='twitterSocial' src='../images/twitter.svg')
        img(class='instagram' src='../images/instagram.svg')
        img(class='youtube' src='../images/youtube.svg')
        img(class='spotifySocial' src='../images/spotifySocial.svg')
    img#logo.circleImageFooter(src='../images/daPhuck.jpg', alt='')
    .spotify