html {
}

body {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-size: 16px;
  font-family: 'Source Sans Pro', sans-serif;
}

a {
  color: #00B7FF;
}

h1 {
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

/*Header*/
.header {
  display: flex;
  flex-direction: column;
  height:40vh;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-image: url('../images/stretchTest.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  border-bottom: 1px black;
  border-bottom-style: solid;
}

.socialMedia {
  justify-content: left;
  flex-direction: column;
  width: 25%;
  margin-top: 34px;
  display: none;
}

.socialMediaIcons {
  display: none;
  margin-top: 13px;
  margin-left: 4px;
  flex-direction: row;
  justify-content: space-between;
  width: 15vw;
}

.spotify {
  /*background-color: red;*/
  width: 25%;
  display:none;
}

/*MidPage*/

.midPage {
  margin: 0 auto;
  width:95%;
  display: flex;
  /*flex-wrap: wrap;*/
  flex-direction: column;
  /*flex-wrap: nowrap;*/
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
}
 
.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


.row {
  display:flex;
  margin-top: 10px;
}

.aboutMe {
  width:100%;
  /*height: 64%;*/
  font-size: 24px;
  /*display:inline-block;*/
  padding-right:10%;
  padding-left: 10%;
  text-align: center;
}

.aboutMeImage {
  /*display: flex;*/
  height: 64%;
  width: 50%;
  /*justify-content: right;*/
/*  -moz-column-count: 2;
  -moz-column-gap: 1px;
  -webkit-column-count: 2;
  -webkit-column-gap: 1px;
  column-count: 2;
  column-gap: 1px;
*/}

.aboutMeLists {
  display:flex;
  flex-direction: row;
  justify-content: center;
  /*font-size: 35px;*/
  padding: 20px;
}

.aboutMeImage img {
/*  margin-left: auto;
  margin-right: 0;
*/  width: 80%;
}

.list1 {
  padding-right: 40px;
}

.list2 {
  padding-right: 40px;
}

/*.list1Mobile {
  padding-right: 40px;
}

.list2Mobile {
  padding-right: 40px;
}
*/
.aboutMeImageMobile {
  display: none;
  /*display: flex;*/
  height: 64%;
  width: 50%;
  margin-left: 23%;
  /*justify-content: right;*/
/*  -moz-column-count: 2;
  -moz-column-gap: 1px;
  -webkit-column-count: 2;
  -webkit-column-gap: 1px;
  column-count: 2;
  column-gap: 1px;
*/}

.aboutMeListsMobile {
  display:flex;
  font-size: 22px;
  flex-direction: row;
  justify-content: center;
  /*font-size: 35px;*/
  padding: 20px;
}


.aboutMeImage h2 {
  text-align: center;
  /*font-size: 50px;*/
}

.music {
  width: 50%;
  font-size: 24px;
  display: inline-block;
}

.musicImg {
    /*display: flex;*/
    height: 64%;
    width: 50%;
    justify-content: right;
}

.youTubeImg {
  width: 50%;
  padding-top: 28px;
}

.musicImg img {
  width: 80%;
}

.trading {
  width: 50%;
  font-size: 24px;
  display: inline-block;
}

.tradingImg {
  /*display: flex;*/
  height: 64%;
  width: 50%;
  justify-content: right;
}

.tradingImg img {
  width: 80%;
}

.webDevelopmentImg img {
  width: 80%;
}

.webDevelopment {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  /*height: 75vh;*/
  font-size: 24px;
}

.webDevelopment h2 {
  text-align: center;
}

/*FOOTER*/

.footer {
  font-size: 24px;
  line-height: 48px;
  height: 48px;
  /*color: red;*/
  display:flex;
  flex-direction: row;
  width: 100%;
  height: 80px;
  border-top: 1px black;
  border-top-style: solid;
}

.footerHeader {
  width: 100%;
  height: 150px;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  /*background-color: #0683c9;*/
  -webkit-transition: height 0.3s;
  -moz-transition: height 0.3s;
  -ms-transition: height 0.3s;
  -o-transition: height 0.3s;
  transition: height 0.3s;
}


.socialMediaFooter {
  justify-content: left;
  flex-direction: column;
  width: 25%;
}

.footerName {
  font-weight: bold;
  font-size:18px;
  margin-top: -14px;
  margin-left: 5px;
  position: absolute;
}

.footerName p:nth-of-type(2) {
  margin: -37px 0 0;
}

.socialMediaIconsFooter {
  display:flex;
  margin-top: 47px;
  margin-left: 4px;
  flex-direction: row;
  justify-content: space-between;
  width: 15vw;
}



.domeHeader {
  display:flex;
  width: 100%;
  justify-content: center;
}

.circleImage {
  border-radius: 75%;
  width: 140px;
  height: 140px;
  overflow: hidden;
  border: 9px solid rgba(0, 0, 0, 0.05);
  margin: 0 auto;
  text-decoration: none;
  -webkit-transition: height 0.3s;
  -moz-transition: height 0.3s;
  -ms-transition: height 0.3s;
  -o-transition: height 0.3s;
  transition: height 0.3s;
}

.circleImageHeader {
  border-radius: 75%;
  width: 75px;
  height: 75px;
  overflow: hidden;
  margin: 0 auto;
  text-decoration: none;
/*  color: orange;
*/}

.circleImageFooter {
  border-radius: 75%;
  width: 75px;
  height: 75px;
  overflow: hidden;
  margin: 0 auto;
  text-decoration: none;
  /*color: orange;*/
}

ul {
  list-style: none;
}

.testUnderImg1 ul li {
  font-size: 24px;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

/*ul li {
  font-size: 24px;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}
*/
header {
  width: 100%;
  height: 150px;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  /*background-color: #0683c9;*/
  -webkit-transition: height 0.3s;
  -moz-transition: height 0.3s;
  -ms-transition: height 0.3s;
  -o-transition: height 0.3s;
  transition: height 0.3s;
}

.sticky {
  top: 0;
  left: 0;
  position: fixed;
  font-size: 24px;
  line-height: 48px;
  height: 48px;
  background: #FFFFFF;
  transition: all 1s ease;
  display:flex;
  flex-direction: row;
  width: 100%;
  height: 80px;
}

.headerName {
  display:none;
  font-weight: bold;
  font-size:18px;
  margin-top: -50px;
  margin-left: 5px;
  position: absolute;
}

.headerName p:nth-of-type(2) {
  margin: -37px 0 0;
}

.spotifyHide {
  display:none;
  width: 25%;
  visibility: hidden;
}

.socialMediaIconsFooter img:hover {
  cursor: pointer;
}

.socialMediaIcons img:hover {
  cursor: pointer;
}

.codeSliders {
  width: 24%;
  z-index: -1;
}

.codeSliders p {
  margin-bottom: -1px;
}

.meter { 
  height: 40px;  /* Can be anything */
  width: 80%;
  position: relative;
  margin: 0px 0 20px 0; /* Just for demo spacing */
  /*background: #555;*/
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
  border-radius: 25px;
  padding: 10px;
  -webkit-box-shadow: inset 0 -1px 1px rgba(255,255,255,0.3);
  -moz-box-shadow   : inset 0 -1px 1px rgba(255,255,255,0.3);
  box-shadow        : inset 0 -1px 1px rgba(255,255,255,0.3);
}
.meter > span {
  display: block;
  height: 100%;
     -webkit-border-top-right-radius: 8px;
  -webkit-border-bottom-right-radius: 8px;
         -moz-border-radius-topright: 8px;
      -moz-border-radius-bottomright: 8px;
             border-top-right-radius: 8px;
          border-bottom-right-radius: 8px;
      -webkit-border-top-left-radius: 20px;
   -webkit-border-bottom-left-radius: 20px;
          -moz-border-radius-topleft: 20px;
       -moz-border-radius-bottomleft: 20px;
              border-top-left-radius: 20px;
           border-bottom-left-radius: 20px;
  background-color: rgb(43,194,83);
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0, rgb(43,194,83)),
    color-stop(1, rgb(84,240,84))
   );
  background-image: -moz-linear-gradient(
    center bottom,
    rgb(43,194,83) 37%,
    rgb(84,240,84) 69%
   );
  -webkit-box-shadow: 
    inset 0 2px 9px  rgba(255,255,255,0.3),
    inset 0 -2px 6px rgba(0,0,0,0.4);
  -moz-box-shadow: 
    inset 0 2px 9px  rgba(255,255,255,0.3),
    inset 0 -2px 6px rgba(0,0,0,0.4);
  box-shadow: 
    inset 0 2px 9px  rgba(255,255,255,0.3),
    inset 0 -2px 6px rgba(0,0,0,0.4);
  position: relative;
  overflow: hidden;
}
.meter > span:after, .animate > span > span {
  content: "";
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  background-image: 
     -webkit-gradient(linear, 0 0, 100% 100%, 
        color-stop(.25, rgba(255, 255, 255, .2)), 
        color-stop(.25, transparent), color-stop(.5, transparent), 
        color-stop(.5, rgba(255, 255, 255, .2)), 
        color-stop(.75, rgba(255, 255, 255, .2)), 
        color-stop(.75, transparent), to(transparent)
     );
  background-image: 
    -moz-linear-gradient(
      -45deg, 
        rgba(255, 255, 255, .2) 25%, 
        transparent 25%, 
        transparent 50%, 
        rgba(255, 255, 255, .2) 50%, 
        rgba(255, 255, 255, .2) 75%, 
        transparent 75%, 
        transparent
     );
  z-index: 1;
  -webkit-background-size: 50px 50px;
  -moz-background-size: 50px 50px;
  -webkit-animation: move 2s linear infinite;
     -webkit-border-top-right-radius: 8px;
  -webkit-border-bottom-right-radius: 8px;
         -moz-border-radius-topright: 8px;
      -moz-border-radius-bottomright: 8px;
             border-top-right-radius: 8px;
          border-bottom-right-radius: 8px;
      -webkit-border-top-left-radius: 20px;
   -webkit-border-bottom-left-radius: 20px;
          -moz-border-radius-topleft: 20px;
       -moz-border-radius-bottomleft: 20px;
              border-top-left-radius: 20px;
           border-bottom-left-radius: 20px;
  overflow: hidden;
}

.animate > span:after {
  display: none;
}

@-webkit-keyframes move {
    0% {
       background-position: 0 0;
    }
    100% {
       background-position: 50px 50px;
    }
}

.orange > span {
  background-color: #f1a165;
  background-image: -moz-linear-gradient(top, #f1a165, #f36d0a);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #f1a165),color-stop(1, #f36d0a));
  background-image: -webkit-linear-gradient(#f1a165, #f36d0a); 
}

.red > span {
  background-color: #f0a3a3;
  background-image: -moz-linear-gradient(top, #f0a3a3, #f42323);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #f0a3a3),color-stop(1, #f42323));
  background-image: -webkit-linear-gradient(#f0a3a3, #f42323);
}

.nostripes > span > span, .nostripes > span:after {
  -webkit-animation: none;
  background-image: none;
}

.contactForm p {
  font-size: 24px;
}

.contactForm {
  text-align: center;
}

@media only screen and (max-width: 650px)  { 
/* body{
  display:flex;
  flex-direction: column;
 }
*/

  .video-container {
    padding-bottom: 100%;
    padding-left: 201%;
  }

  .circleImageHeader {
    width: 72px;
    height: 72px;
    margin-right: -61px;
    border: .5px solid black;
  }

  .circleImageFooter {
    width: 72px;
    height: 72px;
    margin-right: -61px;
    border: .5px solid black;
  }


  .socialMediaIcons {
    width: 57vw;
  }

  .socialMediaIconsFooter {
    width: 57vw;
  }

  
  .codeSliders {
    width: 100%;
  }

  .header {
    height: 100vh;
  }

  .row {
    display:flex;
    flex-direction: column;
    margin-top: 10px;
  }

  body {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  }

  .midPage {
    margin: 0 auto;
    width:88%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    }

  img {
    height: auto;
  }

  .aboutMe {
    width: 100%;
  }

  .aboutMeImage {
    width: 100%;
  }

  .music {
    width: 100%;
  }

  .musicImg {
    width: 100%;
  }

  .trading {
    width: 100%;
  }

  .tradingImg{
    width: 100%;
  }
  .webDevelopmentImg {
    width: 100%;
  }

  .webDevelopment {
    width: 100%;
    color: orange;
  }

  .circleImageRoll {
    animation: roll 1s ease-out;
  }

  .sticky {
    height: 80px;
  }

  .isMobile {
    display:none;
  }

    .aboutMe {
      font-size: 20px;
      padding-left: 0;
      padding-right: 0;
    }

  @keyframes roll{
    0% {transform: translateX(500px) rotate(360deg); opacity: 0;}
    100% {transform: translateX(0px) rotate(0deg); opacity: 1;}
  }

  @media screen and (device-aspect-ratio: 375/667) {
    .iphone6 {
      display: none;
    }


    .circleImageHeader {
      width: 72px;
      height: 72px;
      margin-right: -61px;
      border: .5px solid black;
    }

    .circleImageFooter {
      width: 72px;
      height: 72px;
      margin-right: -61px;
      border: .5px solid black;
    }

    .socialMediaIcons{
      width: 45vw;
    }

    .socialMediaIconsFooter {
      width: 45vw;
    }

    .aboutMeImage img{
      width: 104%;
      margin-left: -7px;
    }

    .musicImg img{
      width: 104%;
      margin-left: -7px;
    }

    .tradingImg img{
      width: 104%;
      margin-left: -7px;
    }

    .webDevelopmentImg img{
      width: 104%;
      margin-left: -7px;
    }
  }

}



