body {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.headerContainer {
  display: flex;

}

.header {
  display: flex;
  flex-direction: column;
  background-color: red;
  height:40vh;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.mainBody {
  flex-direction: row;
  flex-wrap: nowrap;
}

.twitter {
  height:100vh;
  width:20%;
  background-color: orange;
}

.midPage {
  background-color: purple;
  width:60%;
}

.spotify {
  background-color: green;
  height: 100vh;
  width: 20%;
}

.circleImage {
  border-radius: 75%;
  /*display:block;*/
  width: 140px;
  height: 140px;
  overflow: hidden;
  border: 9px solid rgba(0, 0, 0, 0.05);
  margin: 0 auto;
  text-decoration: none;
}

.testUnderImg {
  display: flex;
  background-color: orange;
}

ul {
  list-style: none;
}

ul li {
  font-size: 24px;
}
