html {
}

body {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

h1 {
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

/*Header*/
.header {
  display: flex;
  flex-direction: column;
  height:40vh;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-image: url('../images/stretchTest.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  border-bottom: 1px black;
  border-bottom-style: solid;
}

.socialMedia {
  justify-content: left;
  flex-direction: column;
  width: 25%;
  margin-top: 34px;
  display: hidden;
}

.socialMediaIcons {
  display: none;
  margin-top: 13px;
  margin-left: 4px;
  flex-direction: row;
  justify-content: space-between;
  width: 15vw;
}

.spotify {
  /*background-color: red;*/
  width: 25%;
  display:none;
}

/*MidPage*/

.midPage {
  margin: 0 auto;
  width:95%;
  display: flex;
  /*flex-wrap: wrap;*/
  flex-direction: column;
  /*flex-wrap: nowrap;*/
}


.row {
  display:flex;
  margin-top: 10px;
}

.aboutMe {
  width:50%;
  /*height: 64%;*/
  font-size: 24px;
  display:inline-block;
}

.aboutMeImage {
  /*display: flex;*/
  height: 64%;
  width: 50%;
  justify-content: right;
}

.aboutMeImage img {
/*  margin-left: auto;
  margin-right: 0;
*/  width: 80%;
}

.musicImg {
  width: 50%;
}

.music {
  width: 50%;
  font-size: 24px;
  display: inline-block;
}

.musicImg {
    /*display: flex;*/
    height: 64%;
    width: 50%;
    justify-content: right;
}

.musicImg img {
  width: 80%;
}

.trading {
  width: 50%;
  font-size: 24px;
  display: inline-block;
}

.tradingImg {
  /*display: flex;*/
  height: 64%;
  width: 50%;
  justify-content: right;
}

.tradingImg img {
  width: 80%;
}

.webDevelopmentImg img {
  width: 80%;
}

.webDevelopment {
  width: 50%;
  font-size: 24px;
  display: inline-block;
}






/*FOOTER*/

.footer {
  font-size: 24px;
  line-height: 48px;
  height: 48px;
  background: #FFFFFF;
  display:flex;
  flex-direction: row;
  width: 100%;
  height: 80px;
  border-top: 1px black;
  border-top-style: solid;
}

.footerHeaderI {
  width: 100%;
  height: 150px;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  /*background-color: #0683c9;*/
  -webkit-transition: height 0.3s;
  -moz-transition: height 0.3s;
  -ms-transition: height 0.3s;
  -o-transition: height 0.3s;
  transition: height 0.3s;
}


.socialMediaFooter {
  justify-content: left;
  flex-direction: column;
  width: 25%;
}

.footerName {
  font-weight: bold;
  font-size:18px;
  margin-top: -14px;
  margin-left: 5px;
  position: absolute;
}

.footerName p:nth-of-type(2) {
  margin: -37px 0 0;
}

.socialMediaIconsFooter {
  display:flex;
  margin-top: 47px;
  margin-left: 4px;
  flex-direction: row;
  justify-content: space-between;
  width: 15vw;
}



.domeHeader {
  display:flex;
  width: 100%;
  justify-content: center;
}

.circleImage {
  border-radius: 75%;
  width: 140px;
  height: 140px;
  overflow: hidden;
  border: 9px solid rgba(0, 0, 0, 0.05);
  margin: 0 auto;
  text-decoration: none;
  -webkit-transition: height 0.3s;
  -moz-transition: height 0.3s;
  -ms-transition: height 0.3s;
  -o-transition: height 0.3s;
  transition: height 0.3s;
}

.circleImageHeader {
  border-radius: 75%;
  width: 75px;
  height: 75px;
  overflow: hidden;
  margin: 0 auto;
  text-decoration: none;
/*  color: orange;
*/}

.circleImageFooter {
  border-radius: 75%;
  width: 75px;
  height: 75px;
  overflow: hidden;
  margin: 0 auto;
  text-decoration: none;
  /*color: orange;*/
}

ul {
  list-style: none;
}

ul li {
  font-size: 24px;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

header {
  width: 100%;
  height: 150px;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  /*background-color: #0683c9;*/
  -webkit-transition: height 0.3s;
  -moz-transition: height 0.3s;
  -ms-transition: height 0.3s;
  -o-transition: height 0.3s;
  transition: height 0.3s;
}

.sticky {
  top: 0;
  left: 0;
  position: fixed;
  font-size: 24px;
  line-height: 48px;
  height: 48px;
  background: #FFFFFF;
  transition: all 1s ease;
  display:flex;
  flex-direction: row;
  width: 100%;
  height: 80px;
}

.headerName {
  display:none;
  font-weight: bold;
  font-size:18px;
  margin-top: -50px;
  margin-left: 5px;
  position: absolute;
}

.headerName p:nth-of-type(2) {
  margin: -37px 0 0;
}

.spotifyHide {
  display:none;
  width: 25%;
  visibility: hidden;
}

/*.github:hover {
  cursor: pointer;
}

.linkedIn {
  margin-left: 9px;
}
.linkedIn:hover {
  cursor: pointer;
}*/

.socialMediaIconsFooter img:hover {
  cursor: pointer;
}

.socialMediaIcons img:hover {
  cursor: pointer;
}

@media only screen and (max-width: 650px)  { 
/* body{
  display:flex;
  flex-direction: column;
 }
*/

  .row {
    display:flex;
    flex-direction: column;
    margin-top: 10px;
  }

  body {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  }

  .midPage {
    margin: 0 auto;
    width:88%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    }

  img {
    height: auto;
  }

  .aboutMe {
    width: 100%;
  }

  .aboutMeImage {
    width: 100%;
  }

  .music {
    width: 100%;
  }

  .musicImg {
    width: 100%;
  }

  .trading {
    width: 100%;
  }

  .tradingImg{
    width: 100%;
  }
  .webDevelopmentImg {
    width: 100%;
  }

  .webDevelopment {
    width: 100%;
  }

  .circleImageRoll {
    animation: roll 1s ease-out;
  }

  @keyframes roll{
    0% {transform: translateX(500px) rotate(360deg); opacity: 0;}
    100% {transform: translateX(0px) rotate(0deg); opacity: 1;}
  }

}



