html {
  height: 500vh;
}

body {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

h1 {
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

.headerContainer {
  display: flex;

}

.header {
  display: flex;
  flex-direction: column;
  height:40vh;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-image: url('../images/stretchTest.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  border-bottom: 10px black;
  border-bottom-style: solid;
}

.mainBody {
  flex-direction: row;
  flex-wrap: nowrap;
}

.twitter {
  height:100vh;
  width:25%;
  /*background-color: purple;*/
  border-right: 1px solid black;
  justify-content: left;
}

.midPage {
  width:100%;
}

.domeHeader {
  display:flex;
  width: 100%;
  justify-content: center;
/*  background-color: orange;
*/}

.secondaryHeader {
  width: 100%;
  display: flex;
  justify-content: center;
}

.socialMedia {
  justify-content: left;
  flex-direction: column;
  width: 25%;
}

.socialMediaFooter {
  justify-content: left;
  flex-direction: column;
  width: 25%;
}

.socialMediaFooter p {
  font-size: 12px;
}


.spotify {
  /*background-color: red;*/
  width: 25%;
  display:none;
}

.spotifyFooter {
  /*background-color: red;*/
  width: 25%;
  display:none;
}


.followBttn {
  /*padding-left: 10px;*/
  width: 20%;
  display: none;
}

.followBttnFooter {
  /*padding-left: 10px;*/
  width: 20%;
  display: none;
}

.circleImage {
  border-radius: 75%;
  width: 140px;
  height: 140px;
  overflow: hidden;
  border: 9px solid rgba(0, 0, 0, 0.05);
  margin: 0 auto;
  text-decoration: none;
  -webkit-transition: height 0.3s;
  -moz-transition: height 0.3s;
  -ms-transition: height 0.3s;
  -o-transition: height 0.3s;
  transition: height 0.3s;
}

.circleImageHeader {
  border-radius: 75%;
  width: 75px;
  height: 75px;
  overflow: hidden;
  margin: 0 auto;
  text-decoration: none;
/*  color: orange;
*/}

.circleImageFooter {
  border-radius: 75%;
  width: 75px;
  height: 75px;
  overflow: hidden;
  margin: 0 auto;
  text-decoration: none;
  /*color: orange;*/
}

.testUnderImg {

}


ul {
  list-style: none;
}

ul li {
  font-size: 24px;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

header {
  width: 100%;
  height: 150px;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  /*background-color: #0683c9;*/
  -webkit-transition: height 0.3s;
  -moz-transition: height 0.3s;
  -ms-transition: height 0.3s;
  -o-transition: height 0.3s;
  transition: height 0.3s;
}

.sticky {
  top: 0;
  left: 0;
  position: fixed;
  font-size: 24px;
  line-height: 48px;
  height: 48px;
  background: #FFFFFF;
  transition: all 1s ease;
  display:flex;
  flex-direction: row;
/*  justify-content: space-between;
*/  width: 100%;
  height: 80px;
}

.socialMediaIcons {
  display: none;
  margin-top: 28px;
  margin-left: 4px;
  flex-direction: row;
  justify-content: space-between;
}

.headerName {
  display:none;
  font-weight: bold;
  font-size:18px;
  margin-top: -16px;
  margin-left: 5px;
  position: absolute;
}

.headerName p:nth-of-type(2) {
  margin: -37px 0 0;
}

.spotifyHide {
  display:none;
  width: 25%;
  visibility: hidden;
}

.headerEmail {
  display:none;
}

.github:hover {
  cursor: pointer;
}

/*.linkedIn {
  margin-left: 9px;
}
*/.linkedIn:hover {
  cursor: pointer;
}


