body {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

h1 {
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

.headerContainer {
  display: flex;

}

.header {
  display: flex;
  flex-direction: column;
  height:40vh;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-image: url('../images/stretchTest.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.mainBody {
  flex-direction: row;
  flex-wrap: nowrap;
}

.twitter {
  height:100vh;
  width:25%;
  background-color: purple;
  border-right: 1px solid black;
  justify-content: left;
}

.midPage {
  width:100%;
}


.secondaryHeader {
  width: 100%;
  display: flex;
  justify-content: center;
}

.domeHeader {
  background-color: orange;
}

.spotify {
  /*overflow: hidden;*/
  background-color: red;
  width: 475px;
  z-index: 9999999;
}

.followBttn {
  /*background-color: blue;*/
/*  width: 450px;
*/  /*padding-left: 10px;*/
 margin-left: 190px;
}

.hidden {
  visibility: hidden;
}

.leftHeader {
  background-color: blue;
  width: 475px;
}

.staticHeader {
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 80px;
}

.circleImage {
  border-radius: 75%;
  width: 140px;
  height: 140px;
  overflow: hidden;
  border: 9px solid rgba(0, 0, 0, 0.05);
  margin: 0 auto;
  text-decoration: none;
}

.circleImageHeader {
  border-radius: 75%;
  width: 75px;
  height: 75px;
  overflow: hidden;
  text-decoration: none;
  margin-top: 4px;
  color: orange;
}


.testUnderImg {
  display: flex;
}

.twitterheader {
  color: blue;
  justify-content: left;
}

ul {
  list-style: none;
}

ul li {
  font-size: 24px;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}
